@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
h1 {
    background-color: rgba(248, 235, 57, 0.815) ;
    text-align: center;
    display: flexbox;
    width: auto;

}
#excuse {
    
    display: block;}